<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Test\APItest\Api\ProductInterface">
        <arguments>
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Api\ProductRepositoryInterface</argument>
            <argument name="searchCriteriaBuilder" xsi:type="object">Magento\Framework\Api\SearchCriteriaBuilder</argument>
        </arguments>
    </type>

    <!-- Đảm bảo ánh xạ interface với lớp thực thi -->
    <preference for="Test\APItest\Api\ProductInterface" type="Test\APItest\Model\Product" />
</config>
